body {
    background:url(reseocion.jpg) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

nav {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    color:#7FFFD4;
}

nav a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}
nav{
    background-color:#FFEFD5;
}
nav a:hover {
    background-color: #7FFFD4; /* cambia el fondo */
    color: rgb(237, 233, 233); /* cambia el color del texto */
    border-radius: 15px;

}
nav a {
    transition: 0.3s;
}

nav {
    position: relative;
    animation: entrar 1s ease;
}

@keyframes entrar {
    from {
        left: -100%;
    }
    to {
        left: 0;
    }
}


nav {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 10px;
}

nav {
    top: 0;
}

body {
    background-image: url("reseocion.jpg");
    background-size: cover;
}
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5); /* oscurece */
    z-index: -1;
}

h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 36px;
    
}

h2 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 24px;
 }
  p {
    text-align: left;
    color: rgb(201, 194, 194);
    font-size: 18px;
 }

 h1, h2, p {
  color: white;
  text-shadow: 2px 2px 8px black;

 }

nav a{
    
  color: black;
  text-shadow: 2px 2px 5px black;
    }

    .contacto {
        max-width: 900px;
        margin: 40px auto;
        background: rgba(255, 255, 255, 0);
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }

      .info p {
        margin: 5px 0;
    }
    form {
        display: flex;
        flex-direction: column;
    }


    input, textarea {
        margin: 10px 0;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #383232;
    }

        button {
        background:#800000;
        color: white;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    
    @media (max-width: 600px) {
    nav {
        flex-direction: column;
    }
}